h1, h2 {
  text-align: center;
}
table {
  border: 5px solid red;
  width: 700px;
  height: 600px;
  margin: 0 auto;
}
tr {
  border: 3px solid blue;
}
td {
  border: 1px solid black;
}

#input {
  height: 110px
}

#rows {
  height: 50px;
  text-align: center;
}

.bluePiece {
  background-color: blue;
  border-radius: 50%;
}
.redPiece {
  background-color: red;
  border-radius: 50%;
}

button {
  color: purple;
  margin-left: 40%;
  margin-right: 40%;
  height: 40px;
  width: 160px;
}
